@font-face {
  src: url(/fonts/BebasNeue-Regular.ttf);
  font-family: bebas; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #f2f2f2;
  padding: 30px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to top right, #a61731, rgba(242, 126, 157, 0.77)), url(../img/background-img.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__img {
    position: absolute;
    right: 10px;
    margin: auto; }
    .header__img-size {
      height: 600px; }
  .header__info {
    margin: 60px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .header__info-top {
      font-size: 1.8rem;
      font-weight: lighter;
      margin-bottom: 12px; }
    .header__info-title {
      font-family: bebas, "Poppins", sans-serif;
      font-size: 4rem;
      margin-bottom: 10px; }
    .header__info-product_dis {
      font-size: 1.6rem;
      font-weight: lighter;
      margin-bottom: 0; }
    .header__info-learn_more {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: lighter;
      color: #f2f2f2; }
      .header__info-learn_more:hover {
        text-decoration: none;
        color: #f2f2f2;
        font-weight: bold; }
    .header__info-special_feature {
      margin-top: 32px;
      font-family: bebas, "Poppins", sans-serif;
      font-size: 2.4rem;
      margin-bottom: 16px; }
    .header__info-feature {
      font-size: 1.6rem;
      font-weight: lighter;
      color: #f2f2f2;
      margin-top: 10px; }
