@font-face {
  src: url(/fonts/BebasNeue-Regular.ttf);
  font-family: bebas; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: #fafafa;
  color: #f2f2f2;
  margin-top: 50px; }

.site-content {
  top: 60px;
  height: auto;
  width: 100%;
  background-color: whitesmoke; }
  .site-content .welcome_bg {
    background-image: linear-gradient(to top right, #a61731, rgba(242, 126, 157, 0.9)), url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px; }
    .site-content .welcome_bg .header__img {
      transform: translate(0%, 25%); }
      .site-content .welcome_bg .header__img-size {
        width: 100%;
        height: auto;
        animation-name: moveInTop;
        animation-duration: 1s; }
    .site-content .welcome_bg .header__info {
      margin: 50px 60px 0 60px; }
      .site-content .welcome_bg .header__info-top {
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom: 12px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s; }
      .site-content .welcome_bg .header__info-title {
        font-family: bebas, "Poppins", sans-serif;
        font-size: 4rem;
        margin-bottom: 10px;
        letter-spacing: 5px;
        animation-name: moveInTop;
        animation-duration: 1s; }
      .site-content .welcome_bg .header__info-product_dis {
        font-size: 1.6rem;
        font-weight: lighter;
        margin-bottom: 0;
        animation-name: moveInTop;
        animation-duration: 1s; }
      .site-content .welcome_bg .header__info-learn_more {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: lighter;
        color: #f2f2f2;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s; }
        .site-content .welcome_bg .header__info-learn_more:hover {
          text-decoration: none;
          color: #f2f2f2;
          font-weight: 300; }
      .site-content .welcome_bg .header__info-special_feature {
        margin-top: 32px;
        font-family: bebas, "Poppins", sans-serif;
        font-size: 2.4rem;
        margin-bottom: 16px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s; }
      .site-content .welcome_bg .header__info-feature {
        font-size: 1.6rem;
        font-weight: lighter !important;
        color: #f2f2f2;
        margin-top: 10px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s; }
      .site-content .welcome_bg .header__info-price {
        margin-top: 62px;
        font-size: 4.8rem;
        font-family: bebas, "Poppins", sans-serif;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;
        margin-bottom: 64px; }

.carousel-control-prev {
  width: 60px; }

.productCard_outer_div {
  max-width: 33%; }

.padding_0 {
  padding-left: 0;
  padding-right: 0; }

.margin_0 {
  margin-left: 0;
  margin-right: 0; }

.productCard {
  height: auto;
  width: 100%;
  z-index: 1;
  transition: all 0.2s; }
  .productCard__info {
    color: #f21d44;
    margin: 0 20px; }
    .productCard__info-title {
      font-size: 4rem;
      font-family: bebas, "Poppins", sans-serif;
      margin-bottom: 14px; }
    .productCard__info-special_feature {
      font-size: 2.4rem;
      font-family: bebas, "Poppins", sans-serif;
      display: block; }
    .productCard__info-feature {
      font-size: 1.4rem;
      display: block;
      margin-bottom: 10px; }
    .productCard__info-price {
      font-size: 3.2rem;
      display: block;
      margin-bottom: 32px;
      font-family: bebas, "Poppins", sans-serif; }
  .productCard__img {
    right: 25px;
    top: 90px; }
    .productCard__img-size {
      width: 100%;
      height: auto; }

.topTitle {
  margin-top: 40px; }

.subTitle {
  display: block;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 300;
  color: #330009; }

.mainTitle {
  display: block;
  text-align: center;
  font-size: 4.2rem;
  margin-top: 5px;
  font-family: bebas, "Poppins", sans-serif;
  color: #330009; }

/* selection area */
.infoBox {
  margin-top: 60px; }

.selector {
  margin-bottom: 30px; }

.hidebx {
  display: none; }

.lbl-redio {
  text-align: center;
  padding: 5px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.8rem;
  color: #330009; }

.lbl-redio:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); }

input[type="radio"]:checked + .lbl-redio {
  background-color: #f21d44;
  color: #f2f2f2; }

.productName {
  font-family: bebas, "Poppins", sans-serif;
  color: #f21d44;
  font-size: 2.6rem; }

.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  padding: 4px 16px;
  border: 2px solid;
  border-color: #f21d44;
  border-radius: 6px;
  color: #330009; }

.buton:link, .buton:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: bebas, "Poppins", sans-serif;
  font-size: 3.6rem;
  animation-name: moveInTop;
  animation-duration: 1s;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s; }

.buton-white {
  background-color: #f2f2f2;
  color: #f21d44;
  padding: 29px 40px;
  animation-name: moveInTop;
  animation-duration: 1s;
  margin-right: 64px;
  margin-top: 40px; }
  .buton-white:hover {
    padding: 29px 50px; }

.buton-outline {
  border-color: #f2f2f2;
  border: 2px solid;
  color: #f2f2f2;
  padding: 27px 70px;
  margin-top: 40px;
  animation-name: moveInTop;
  animation-duration: 1s; }
  .buton-outline:hover {
    padding: 29px 80px; }

.buton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f21d44;
  border: 0;
  color: #f2f2f2; }

.buton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.buttonSmall:link, .buttonSmall:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: bebas, "Poppins", sans-serif;
  font-size: 2.4rem;
  display: block;
  border-radius: 6px;
  transition: all 0.2s; }

.buttonSmall-red {
  background-color: #f21d44;
  color: #f2f2f2;
  padding: 1.8rem 4.8rem;
  margin-bottom: 2.4rem; }
  .buttonSmall-red:hover {
    padding: 2rem 6rem; }

.buttonSmall-outlineRed {
  border-color: #f21d44;
  border: 2px solid;
  color: #f21d44;
  padding: 1.8rem 6.6rem; }
  .buttonSmall-outlineRed:hover {
    padding: 2rem 8rem; }

.buttonSmall-outlineDark {
  border-color: #f2f2f2;
  border: 2px solid;
  color: #f2f2f2;
  padding: 1rem 1rem; }
  .buttonSmall-outlineDark:hover {
    padding: 1.2rem 1.2rem; }

.buttonSmall:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  color: #f21d44;
  border: 0; }

.buttonSmall:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2); }

.contentBox {
  display: grid;
  place-items: center; }
  .contentBox .productPicInfo {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, #f21d44, rgba(242, 126, 157, 0.9));
    border-radius: 12px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    display: grid;
    place-items: center;
    padding: 40px; }
    .contentBox .productPicInfo-img {
      width: 50%;
      height: auto; }
    .contentBox .productPicInfo-name {
      font-family: bebas, "Poppins", sans-serif;
      color: #f2f2f2;
      font-size: 3.6rem;
      margin-bottom: -2px; }
    .contentBox .productPicInfo-price {
      font-family: bebas, "Poppins", sans-serif;
      font-size: 2.4rem; }

.pColor1 {
  background-color: #fbe4e4; }

.pColor2 {
  background-color: #f2f2f2; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  80% {
    opacity: 1;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
