//FONT
@font-face {
  src: url(/fonts/BebasNeue-Regular.ttf);
  font-family: bebas;
}

//color variable
$color-primaty: #f21d44;
$color-primaty-dark: #a61731;
$color-primaty-light: #d92b5a;
$color-primaty-verylight: #f27e9d;
$color-text-light: #f2f2f2;
$color-text-dark: #330009;
$color-primaty-superlight: #fbe4e4;

//shadow
$shadow-1: rgba(0, 0, 0, 0.2);

//font
$primary-font: "Poppins", sans-serif;
$secondary-font: bebas, "Poppins", sans-serif;

//grid
$grid-width: 200rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//clear everything
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: $primary-font;
  font-weight: 400;
  //font-size: 16px;
  line-height: 1.7;
  background: #fafafa;
  color: $color-text-light;
  margin-top: 50px;
}

//header

//side content of the header
.site-content {
  top: 60px;
  height: auto;
  width: 100%;
  background-color: whitesmoke;

  //bcakground of the header
  .welcome_bg {
    background-image: linear-gradient(to top right, rgb(166, 23, 49), rgba(242, 126, 157, 0.9)),
      url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;

    //image position in the right
    .header__img {
      transform: translate(0%, 25%);

      //size of the image
      &-size {
        width: 100%;
        height: auto;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
    }

    //header text and buttons
    .header__info {
      margin: 50px 60px 0 60px;

      //header top title
      &-top {
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom: 12px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
      &-title {
        font-family: $secondary-font;
        font-size: 4rem;
        margin-bottom: 10px;
        letter-spacing: 5px;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
      &-product_dis {
        font-size: 1.6rem;
        font-weight: lighter;
        margin-bottom: 0;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
      &-learn_more {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: lighter;
        color: $color-text-light;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;

        &:hover {
          text-decoration: none;
          color: $color-text-light;
          font-weight: 300;
        }
      }
      &-special_feature {
        margin-top: 32px;
        font-family: $secondary-font;
        font-size: 2.4rem;
        margin-bottom: 16px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
      &-feature {
        font-size: 1.6rem;
        font-weight: lighter !important;
        color: $color-text-light;
        margin-top: 10px;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;
      }
      &-price {
        margin-top: 62px;
        font-size: 4.8rem;
        font-family: $secondary-font;
        display: block;
        animation-name: moveInTop;
        animation-duration: 1s;
        margin-bottom: 64px;
      }
    }
  }
}
.carousel-control-prev{
  width: 60px;
}

//product list
.productCard_outer_div {
  max-width: 33%;
}
.padding_0 {
  padding-left: 0;
  padding-right: 0;
}
.margin_0 {
  margin-left: 0;
  margin-right: 0;
}

.productCard {
  height: auto;
  width: 100%;
  //position: relative;
  z-index: 1;
  transition: all 0.2s;

  &__info {
    color: $color-primaty;
    //position: absolute;
    margin: 0 20px;

    &-title {
      font-size: 4rem;
      font-family: $secondary-font;
      margin-bottom: 14px;
    }

    &-special_feature {
      font-size: 2.4rem;
      font-family: $secondary-font;
      display: block;
    }

    &-feature {
      font-size: 1.4rem;
      display: block;
      margin-bottom: 10px;
    }

    &-price {
      font-size: 3.2rem;
      display: block;
      margin-bottom: 32px;
      font-family: $secondary-font;
    }
  }

  &__img {
    right: 25px;
    top: 90px;

    &-size {
      width: 100%;
      height: auto;
    }
  }
}

//Custom
.topTitle {
  margin-top: 40px;
}
.subTitle {
  display: block;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 300;
  color: $color-text-dark;
}
.mainTitle {
  display: block;
  text-align: center;
  font-size: 4.2rem;
  margin-top: 5px;
  font-family: bebas, "Poppins", sans-serif;
  color: $color-text-dark;
}

/* selection area */
.infoBox {
  margin-top: 60px;
}
.selector {
  margin-bottom: 30px;
}
.hidebx {
  display: none;
}
.lbl-redio {
  text-align: center;
  padding: 5px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.8rem;
  color: $color-text-dark;
}
.lbl-redio:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked + .lbl-redio {
  background-color: $color-primaty;
  color: $color-text-light;
}

.productName {
  font-family: bebas, "Poppins", sans-serif;
  color: $color-primaty;
  font-size: 2.6rem;
}

.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  padding: 4px 16px;
  border: 2px solid;
  border-color: $color-primaty;
  border-radius: 6px;
  color: $color-text-dark;
}

//button
.buton {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: 3.6rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.2s;
  }
  &-white {
    background-color: $color-text-light;
    color: $color-primaty;
    padding: 29px 40px;
    animation-name: moveInTop;
    animation-duration: 1s;
    margin-right: 64px;
    margin-top: 40px;
    &:hover {
      padding: 29px 50px;
    }
  }
  &-outline {
    border-color: $color-text-light;
    border: 2px solid;
    color: $color-text-light;
    padding: 27px 70px;
    //margin-left: 64px;
    margin-top: 40px;
    animation-name: moveInTop;
    animation-duration: 1s;
    &:hover {
      padding: 29px 80px;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $color-primaty;
    border: 0;
    color: $color-text-light;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.buttonSmall {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: 2.4rem;
    display: block;
    border-radius: 6px;
    transition: all 0.2s;
  }
  &-red {
    background-color: $color-primaty;
    color: $color-text-light;
    padding: 1.8rem 4.8rem;
    margin-bottom: 2.4rem;
    &:hover {
      padding: 2rem 6rem;
    }
  }
  &-outlineRed {
    border-color: $color-primaty;
    border: 2px solid;
    color: $color-primaty;
    padding: 1.8rem 6.6rem;
    &:hover {
      padding: 2rem 8rem;
    }
  }
  &-outlineDark{
    border-color: $color-text-light;
    border: 2px solid;
    color: $color-text-light;
    padding: 1rem 1rem;
    //font-size: 1.6rem;
    &:hover {
      padding: 1.2rem 1.2rem;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background-color: $color-text-light;
    color: $color-primaty;
    border: 0;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  }
}

//customize

.contentBox {
  display: grid;
  place-items: center;

  .productPicInfo {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, rgb(242, 29, 68), rgba(242, 126, 157, 0.9));
    //background-color:$color-primaty;
    border-radius: 12px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    display: grid;
    place-items: center;
    padding: 40px;

    &-img {
      width: 50%;
      height: auto;
    }
    &-name{
      font-family: $secondary-font;
      color: $color-text-light;
      font-size: 3.6rem;
      margin-bottom: -2px;
    }
    &-price{
      font-family: $secondary-font;
      font-size: 2.4rem;
    }

    // &:hover {
    //   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    //   transform: scale(1.1);
    //   background-image: linear-gradient(to top, rgb(242, 29, 68), rgba(242, 126, 157, 0.9));
    // }
  }
}

//bg_color
.pColor1 {
  background-color: $color-primaty-superlight;
}
.pColor2 {
  background-color: $color-text-light;
}

//animation
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
