//FONT
@font-face{
  src: url(/fonts/BebasNeue-Regular.ttf);
  font-family: bebas;
}

//color variable
$color-primaty: #f21d44;
$color-primaty-dark: #a61731;
$color-primaty-light: #d92b5a;
$color-primaty-verylight: #f27e9d;
$color-text-light: #f2f2f2;
$color-text-dark: #330009;

//clear everything
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-text-light;
  padding: 30px;
}

//header
.header {
  height: 95vh;
  background-image: linear-gradient(
      to top right,
      rgb(166, 23, 49),
      rgba(242, 126, 157, 0.77)
    ),
    url(../img/background-img.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__img {
    position: absolute;
    right: 10px;
    margin: auto;
    &-size {
      height: 600px;
    }
  }

  &__info {
    margin: 60px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    &-top{
      font-size: 1.8rem;
      font-weight: lighter;
      margin-bottom: 12px;
    }
    &-title{
      font-family: bebas, "Poppins", sans-serif;
      font-size: 4rem;
      margin-bottom: 10px;
    }
    &-product_dis{
      font-size: 1.6rem;
      font-weight: lighter;
      margin-bottom: 0;
    }
    &-learn_more{
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: lighter;
      color: $color-text-light;
      
      
      &:hover{
        text-decoration: none;
        color: $color-text-light;
        font-weight: bold;
        
      }
    }
    &-special_feature{
      margin-top: 32px;
      font-family: bebas, "Poppins", sans-serif;
      font-size: 2.4rem;
      margin-bottom: 16px;
    }
    &-feature{
      font-size: 1.6rem;
      font-weight: lighter;
      color: $color-text-light;
      margin-top: 10px;
    }
  }
}
